@model List<Model.TogRute>

@{
    ViewBag.Title = "AvgangsOversikt";
}
    <head>
        <link rel="stylesheet" href="../../Styles/EnVei.css" type="text/css">
        <link rel="stylesheet" href="../../Styles/global.css" type="text/css">
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="../../Scripts/EnVei.js" defer type="text/javascript"></script>
        <script src="https://kit.fontawesome.com/fbe2d52971.js"></script>
    </head>
    
    <p>
        @Html.ActionLink("Tilbake Til Start", "Index")
    </p> 
@if (ViewBag.beskjed != null)//hvis kunde har valgt en tid over 20:00 for avgang
{
<h3 style="padding-left: 5%;">@ViewBag.beskjed</h3>
}
else
{
<h2>Avganger for @ViewBag.avgangDato</h2>
}
<form action="HentReise" method="POST" id="form">
    <div id="section">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Avgang")
                </th>
                <th>
                    @Html.DisplayName("Ankomst")
                </th>
                <th>
                    @Html.DisplayName("Startstasjon")
                </th>
                <th>
                    @Html.DisplayName("Endestasjon")
                </th>
                <th>
                    @Html.DisplayName("Platform")
                </th>
                <th>
                    @Html.DisplayName("Pris")
                </th>
            </tr>

@foreach (var item in Model)
{
    <tr class="ruter" id="@item.RuteId">
                    <td>
                    <input type="radio" name="RuteId" id="radio-@item.RuteId" value="@item.RuteId"/>
                    @{
                        string avgangTid = item.AvgangTid.ToString("HH:mm");
                        string ankomstTid = item.AnkomstTid.ToString("HH:mm");
                    }
                    @Html.DisplayFor(modelItem => avgangTid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ankomstTid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartStasjon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndeStasjon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Platform)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pris),-
                    </td>
                </tr>
            }
        </table>
        <div id="avreiseFeil" align="center"></div>
        <input type="submit" value="velg markert reise"/>
    </div>
</form>

